//Import Files
@use "../../Helpers/Variblies.scss" as *;

//Rules
#post{
    .title{
        h1{
            font-size: 50px;
            color: $Very-dark-blue;
        }
    }
    .desc{
        p{
            color: $Dark-grayish-blue;
        }
        .btnMain{
            border: none;
            background-color: $Very-dark-blue;
            outline: none;
            font-size: 20px;
            color: $Grayish-blue;
            transition: all 1s;
            &:hover{
                background-color: $Soft-red;
                color: $Off-white;
            }
        }
    }
}