//Import Files
@use "./Helpers/Variblies.scss" as *;

@use "./Helpers/Mixin.scss" as *;

//Navbar File
@use "./Components/Navbar/Navbar.scss" as *;

//Home File
@use "./Components/Home/Home.scss" as *;

//Cards File
@use "./Components/Cards/Cards.scss" as *;

//Font Implement
@font-face {
  font-family: 'Inter Regular';
  src: url(../assets/fonts/static/Inter-Regular.ttf) format('truetype' );
  font-family: 'Inter Bold';
  src: url(../assets/fonts/static/Inter-Bold.ttf) format('truetype' );
  font-family: 'Inter ExtraBold';
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf) format('truetype' );
}

//Rules

.center{
  @include center();
}

body{
  font-family: "Inter Regular";
}