//Import File

@use "../../Helpers/Variblies.scss" as *;

//Rules
#side{
    background-color: $Very-dark-blue;
    .heading{
        color: $Soft-orange;
    }
    ul{
        li{
            h4{
                color: $Off-white;
                transition: all 1s;
                cursor: pointer;
                &:hover{
                    color: $Soft-orange;
                }
            }
            p{
                color: $Grayish-blue;
            }
            &:not(:last-child){
                border-bottom: 2px solid $Dark-grayish-blue;
            }
        }
    }
}